
<button><%= link_to "Get Jokes", new_user_joke_path(current_user), :method => :get%></button>
<button><%= link_to "My Jokes", my_jokes_path, :method => :get%></button>

<br><br><br><br>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>