Body {
    font-family: Calibri, Helvetica, sans-serif;
    background-color: yellow;
}

.container {
    padding: 25px;
    background-color: lightblue;
    align-items: center;
    align-content:  center ;
}